.formlabel{
    width:100%;
}
.formele{
    width:98%;
    margin-bottom:0.5em;
}
.formele input{
    font-size:120%;
    width:92%;
}
.formele select{
    font-size:120%;
    width:100%;
}
form {
    padding:0.25em;
}
body {
    margin:0;
}

